.fa.fa-chevron-circle-down {
    font-size: 3.5rem;
    margin-top: 8rem;
    color: #fff;
}

.fa.fa-linkedin, .fa.fa-twitter, .fa.fa-facebook {
    font-size: 3.5rem;
    margin: 1rem;
    color: #fff;
}