.fa.fa-chevron-circle-down {
    font-size: 3.5rem;
    margin-top: 1rem;
    color: #fff;
}

.fa.fa-linkedin, .fa.fa-twitter, .fa.fa-facebook {
    font-size: 3.5rem;
    margin: 1rem;
    color: #fff;
}

.fa.fa-wrench {
    font-size: 2.7rem;
    padding: 0.7rem;
    margin: 1rem;
    color: $c-p;
    border: solid 2px $c-p;
    border-radius: 50%;
}

#social-network .fa.fa-linkedin, #social-network .fa.fa-twitter, #social-network .fa.fa-facebook {
    font-size: 3.5rem;
    margin: 1rem 2rem;
    color: $c-p;
}