/* _Typrography
========================================================= */

/* ==== Base font-size ==== */
html {
    font-size: 14px;
}

/* Fonts */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif !important;
    color: $headings-color;
}

html, body, ul li, p {
    font-family: 'Open Sans', sans-serif;
    color: $body-color;
}

/* ==== Font sizes ==== */

h1 {
    font-size: 4rem !important;
    padding: 2rem 0;
}

h2 {
    font-size: 1.9rem !important;
    padding: 0 0 1rem;
    font-weight: 700 !important;
    letter-spacing: 1.7px;
}

h3 {
    font-size: 1.5rem !important;
    padding: 0.8rem 0;
}

h4 {
    font-size: 1.3rem !important;
    padding: 0.5rem 0;
}

h5 {
    font-size: 1.1rem !important;
    padding: 0.3rem 0;

}

h6 {
    font-size: 1rem !important;
    padding: 0.2rem 0;
    color: $c-p-light !important;
    letter-spacing: 2px;
    font-weight: 300 !important;
}



