/* Hubvisory colors (Custom Variables)
========================================================= */

// Primary color

$c-p-dark: #2A4868 ;
$c-p : #699ACF;
$c-p-light: #A9C0D9;
$c-p-lighter: #E1EBF5;

// Secondary color

$c-s-dark: #72B4AD;
$c-s: #8EE1D8;
$c-s-light: #C5F0EB;

// Third color

$c-t: #EC7484;

// Fourth color

$c-f: #F7DD86;

// Text color (Overwrite native Bootstrap color)

$body-color: #5C7999;

// Title color (Overwrite native Bootstrap color)

$headings-color: green;

// Grey scale

$c-g-darkest: #2F353A;
$c-g: #EDEDED;

// Translucide

$c-p-dark-t : rgba(31, 41, 65, 0.75);