/* Hubvisory colors (Custom Variables)
========================================================= */

// Primary color

$c-p-dark: #547BA6;
$c-p : #699ACF;
$c-p-light: #A9C0D9;
$c-p-lighter: #E1EBF5;

// Secondary color

$c-s-dark: #72B4AD;
$c-s: #8EE1D8;

// Third color

$c-t: #EC7484;

// Fourth color

$c-f: #F7DD86;

// Text color (Overwrite native Bootstrap color)

$body-color: #5C7999;

// Title color (Overwrite native Bootstrap color)

$headings-color: #43597A;

// Grey scale

$c-g-darkest: #2F353A;