.bg-p {
    background-color: $c-p;
}

.bg-p-dark {
    background-color: $c-p-dark;
}

.bg-s{
    background-color: $c-s;
}

.bg-t {
    background-color: $c-t;
}

.bg-g-darkest {
    background-color: $c-g-darkest;
}

.bg-g {
    background-color: $c-g;
}

.bg-stripe {
    background: url('../../images/bg-stripes.png') repeat;
}

.bg-w {
    background-color: #fff;
}