/* Header
========================================================= */

//  General navbar 
#main-navbar.navbar {
    background-color: #fff;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 0.9rem;
    box-shadow: rgba(29, 29, 31, 0.0666667) 0px 0px 0px 0px;
    transition: box-shadow 0.5s;
}

// Once scrolled (added .scrolled class with JS)
#main-navbar.navbar.scrolled {
    box-shadow: rgba(29, 29, 31, 0.12) 0px 10px 40px 0px;
}

// Links

#main-navbar.navbar ul li {
    padding: 0 8px;
}

#main-navbar.navbar ul li a {
    color: $c-p !important;   
    height: 33px; 
    box-sizing: border-box;
}

#main-navbar.navbar ul li a:after {
    content:'';
    height: 5px;
    width: 0;
    background-color: $c-p;
    bottom: -12px;
    left: -10%;
    margin : 0 auto;
    position: relative;
    display: inline-block;
    transition: width 0.25s ease;
}

// Links on hover


#main-navbar.navbar ul li a:hover:after {
    content:'';
    height: 5px;
    width: 120%;
    background-color: $c-p;
    bottom: -12px;
    left: -10%;
    margin : 0 auto;
    position: relative;
    display: inline-block;
}



// Active links

#main-navbar.navbar ul li.active a:after {
    content:'';
    height: 5px;
    width: 120%;
    background-color: $c-p;
    bottom: -12px;
    left: -10%;
    margin : 0 auto;
    position: relative;
    display: inline-block;
}

// Mobile menu 

#main-navbar.navbar-toggler {
    border-color: $c-p;
}

