/* Header
========================================================= */

/* ==== General navbar ==== */
.navbar {
    background-color: #fff;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 0.9rem;
    box-shadow: rgba(29, 29, 31, 0.0666667) 0px 0px 0px 0px;
    transition: box-shadow 0.5s;
}

/* Once scrolled (added .scrolled class with JS) */
.navbar.scrolled {
    box-shadow: rgba(29, 29, 31, 0.0666667) 0px 10px 60px 0px;
}

/* ==== Links ==== */

.navbar ul li {
    padding: 0 8px;
}

.navbar ul li a {
    color: $c-p !important;   
    height: 33px; 
    box-sizing: border-box;
    border-bottom: solid 1px #fff;
    transition: border 0.7s, color 0.5s;
}

.navbar ul li.active a:after {
    content:'';
    height: 2px;
    width: 30px;
    background-color: red;
    bottom: 0;
    position: relative;
    left: 0;
}

.navbar ul li a:hover {
    border-bottom: solid 1px $c-p;
    color: $c-p-light !important;
}

/* ==== Mobile menu ==== */
.navbar-toggler {
    border-color: $c-p;
}

a.anchor {
    display: block;
    position: relative;
    top: -1250px;
    visibility: hidden;
}