/* Hubvisory colors
========================================================= */
/* --------------------------------------------------------
   Core mixins
   -------------------------------------------------------- */
/* --------------------------------------------------------
   Reset and dependencies
   -------------------------------------------------------- */
/* --------------------------------------------------------
   Core CSS
   -------------------------------------------------------- */
/* --------------------------------------------------------
   Components
   -------------------------------------------------------- */
/* --------------------------------------------------------
   Components w/ JavaScript
   -------------------------------------------------------- */
/* --------------------------------------------------------
   Utility classes
   -------------------------------------------------------- */
/* --------------------------------------------------------
   Custom application specific styles
   -------------------------------------------------------- */
/* _Typrography
========================================================= */
/* ==== Base font-size ==== */
html {
  font-size: 14px; }

/* Fonts */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif !important; }

html, body, ul li, p {
  font-family: 'Open Sans', sans-serif; }

/* ==== Font sizes ==== */
h1 {
  font-size: 4rem !important;
  padding: 2rem 0; }

h2 {
  font-size: 2rem !important;
  padding: 1rem 0;
  font-weight: 700 !important; }

h3 {
  font-size: 3rem !important;
  padding: 0.8rem 0; }

h4 {
  font-size: 2rem !important;
  padding: 0.5rem 0; }

h5 {
  font-size: 1.5rem !important;
  padding: 0.3rem 0; }

h6 {
  font-size: 1.2rem !important;
  padding: 0.2rem 0;
  color: #A9C0D9 !important; }

/* Header
========================================================= */
/* ==== General navbar ==== */
.navbar {
  background-color: #fff;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 0.9rem;
  box-shadow: rgba(29, 29, 31, 0.06667) 0px 0px 0px 0px;
  transition: box-shadow 0.5s; }

/* Once scrolled (added .scrolled class with JS) */
.navbar.scrolled {
  box-shadow: rgba(29, 29, 31, 0.06667) 0px 10px 60px 0px; }

/* ==== Links ==== */
.navbar ul li {
  padding: 0 8px; }

.navbar ul li a {
  color: #699ACF !important;
  height: 33px;
  box-sizing: border-box;
  border-bottom: solid 1px #fff;
  transition: border 0.7s, color 0.5s; }

.navbar ul li a:hover {
  border-bottom: solid 1px #699ACF;
  color: #A9C0D9 !important; }

/* ==== Mobile menu ==== */
.navbar-toggler {
  border-color: #699ACF; }

.c-p-bg {
  background-color: #699ACF; }

.fa.fa-chevron-circle-down {
  font-size: 3rem;
  margin-top: 10rem;
  box-shadow: rgba(29, 29, 31, 0.06667) 0px 10px 60px 0px;
  color: #fff; }

/* Home page
========================================================= */
#hp-cover {
  background: linear-gradient(rgba(31, 41, 65, 0.7), rgba(31, 41, 65, 0.5)), url("../../images/hp-illustration-cover.jpg") center center no-repeat;
  background-size: cover;
  width: 100%;
  color: #fff;
  min-height: 500px;
  display: flex;
  align-items: center; }

#hp-cover-section {
  text-align: center;
  width: 100%; }

html, body {
  height: 100%; }

#hp-cover-section h4 {
  font-weight: 300 !important; }

#hp-cover-section h2 {
  text-transform: uppercase; }

#hp-video-section {
  padding: 100px 0; }

.waitin {
  height: 70px;
  width: 100%;
  background-color: grey;
  border: solid 4px #fff;
  margin: 3rem 0; }

#hp-trust-section .container-fluid {
  padding: 50px 0; }

#hp-trust-section {
  text-align: center;
  color: #fff; }

/*# sourceMappingURL=app.css.map */
