@charset "UTF-8";
/* Hubvisory colors (Custom Variables)
========================================================= */
/* --------------------------------------------------------
   Core mixins
   -------------------------------------------------------- */
/* --------------------------------------------------------
   Reset and dependencies
   -------------------------------------------------------- */
/* --------------------------------------------------------
   Core CSS
   -------------------------------------------------------- */
/* --------------------------------------------------------
   Components
   -------------------------------------------------------- */
/* --------------------------------------------------------
   Components w/ JavaScript
   -------------------------------------------------------- */
/* --------------------------------------------------------
   Utility classes
   -------------------------------------------------------- */
/* --------------------------------------------------------
   Custom application specific styles
   -------------------------------------------------------- */
/* _Typrography
========================================================= */
/* ==== Base font-size ==== */
html {
  font-size: 14px; }

/* Fonts */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif !important;
  color: green; }

html, body, ul li, p {
  font-family: 'Open Sans', sans-serif;
  color: #5C7999; }

/* ==== Font sizes ==== */
h1 {
  font-size: 4rem !important;
  padding: 2rem 0; }

h2 {
  font-size: 1.9rem !important;
  padding: 0 0 1rem;
  font-weight: 700 !important;
  letter-spacing: 1.7px; }

h3 {
  font-size: 1.5rem !important;
  padding: 0.8rem 0;
  letter-spacing: 2px; }

h4 {
  font-size: 1.3rem !important;
  padding: 0.5rem 0;
  letter-spacing: 2px; }

h5 {
  font-size: 1.1rem !important;
  padding: 0.3rem 0; }

h6 {
  font-size: 1rem !important;
  padding: 0.2rem 0;
  color: #A9C0D9 !important;
  letter-spacing: 2px;
  font-weight: 300 !important; }

/* Header
========================================================= */
#main-navbar.navbar {
  background-color: #fff;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 0.9rem;
  box-shadow: rgba(29, 29, 31, 0.06667) 0px 0px 0px 0px;
  transition: box-shadow 0.5s; }

#main-navbar.navbar.scrolled {
  box-shadow: rgba(29, 29, 31, 0.12) 0px 10px 40px 0px; }

#main-navbar.navbar ul li {
  padding: 0 8px; }

#main-navbar.navbar ul li a {
  color: #699ACF !important;
  height: 33px;
  box-sizing: border-box; }

#main-navbar.navbar ul li a:after {
  content: '';
  height: 5px;
  width: 0;
  background-color: #699ACF;
  bottom: -12px;
  left: -10%;
  margin: 0 auto;
  position: relative;
  display: inline-block;
  transition: width 0.25s ease; }

#main-navbar.navbar ul li a:hover:after {
  content: '';
  height: 5px;
  width: 120%;
  background-color: #699ACF;
  bottom: -12px;
  left: -10%;
  margin: 0 auto;
  position: relative;
  display: inline-block; }

#main-navbar.navbar ul li.active a:after {
  content: '';
  height: 5px;
  width: 120%;
  background-color: #699ACF;
  bottom: -12px;
  left: -10%;
  margin: 0 auto;
  position: relative;
  display: inline-block; }

#main-navbar.navbar-toggler {
  border-color: #699ACF; }

footer {
  color: #fff; }

footer ul li a {
  color: #fff !important;
  height: 30px;
  box-sizing: border-box;
  transition: color 0.5s; }

footer ul li a:hover {
  color: #8EE1D8 !important; }

footer ul {
  list-style: none;
  padding: 0; }

footer h5 {
  font-weight: 300 !important;
  margin: 0;
  letter-spacing: 2px;
  text-transform: uppercase; }

.diag-row {
  padding: 15px;
  display: flex;
  align-items: center; }

#footer-end-section {
  padding: 50px 0; }

.bg-p {
  background-color: #699ACF; }

.bg-p-dark {
  background-color: #2A4868; }

.bg-s {
  background-color: #8EE1D8; }

.bg-t {
  background-color: #EC7484; }

.bg-g-darkest {
  background-color: #2F353A; }

.bg-g {
  background-color: #EDEDED; }

.bg-stripe {
  background: url("../../images/bg-stripes.png") repeat; }

.bg-w {
  background-color: #fff; }

.btn {
  border-radius: 1px !important;
  margin: 0 15px;
  text-transform: uppercase;
  box-shadow: rgba(29, 29, 31, 0.2) 0px 10px 60px 0px !important;
  transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
  padding: 2rem 1.5rem !important; }

.btn:hover {
  box-shadow: rgba(29, 29, 31, 0.25) 0px 10px 40px 0px !important; }

.btn-p-fbg {
  background-color: #699ACF;
  color: #fff;
  transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1); }

.btn-p-fbg:hover {
  background-color: #2A4868;
  color: #fff; }

.btn-p-ebg {
  background-color: #fff;
  color: #699ACF;
  border: solid 1px #E1EBF5 !important; }

.btn-p-ebg:hover {
  border: solid 1px #699ACF !important;
  color: #699ACF; }

.btn-s-fbg {
  background-color: #8EE1D8;
  color: #fff; }

.btn-s-fbg:hover {
  background-color: #72B4AD;
  color: #fff; }

.fa.fa-chevron-circle-down {
  font-size: 3.5rem;
  margin-top: 1rem;
  color: #fff; }

.fa.fa-linkedin, .fa.fa-twitter, .fa.fa-facebook {
  font-size: 3.5rem;
  margin: 1rem;
  color: #fff; }

.fa.fa-wrench {
  font-size: 2.7rem;
  padding: 0.7rem;
  margin: 1rem;
  color: #699ACF;
  border: solid 2px #699ACF;
  border-radius: 50%; }

#social-network .fa.fa-linkedin, #social-network .fa.fa-twitter, #social-network .fa.fa-facebook {
  font-size: 3.5rem;
  margin: 1rem 2rem;
  color: #699ACF; }

.illustration {
  max-width: 450px;
  margin: auto;
  width: 100%;
  padding: 60px 0 0; }

/* Home page
========================================================= */
#hp-cover {
  background: linear-gradient(rgba(31, 41, 65, 0.7), rgba(31, 41, 65, 0.5)), url("../../images/diffuser.jpg") bottom center no-repeat;
  background-size: cover;
  width: 100%;
  color: #fff;
  min-height: 550px;
  display: flex;
  align-items: center; }

#hp-cover-section {
  text-align: center;
  width: 100%; }

#hp-cover-section h4 {
  font-weight: 300 !important; }

#hp-video-section h2, #hp-trust-section h2 {
  text-transform: uppercase; }

#hp-video-section {
  padding: 100px 0 50px; }

.waitin {
  height: 85px;
  width: 100%;
  background-color: grey;
  border: solid 4px #fff;
  margin: 3rem 0; }

#hp-trust-section {
  padding: 50px 0 0;
  color: #fff !important; }

#hp-trust-section {
  text-align: center;
  color: #fff; }

@media (max-width: 768px) {
  #hp-end-section .btn {
    margin: 20px 0 !important; } }
@media (max-width: 992px) {
  #footer-diag-section .btn {
    margin: 20px 0 !important; } }
#hp-end-section .btn {
  margin: 10px; }

#hp-end-section {
  padding: 50px 0;
  text-align: center; }

.bg-stripe h2 {
  padding: 1rem 0;
  margin: 0; }

.home-first-word {
  font-weight: 300 !important;
  font-size: 4rem; }

.home-first-p {
  margin-top: 8rem;
  color: #fff;
  font-weight: 1.3rem;
  letter-spacing: 1.5px; }

#contact-form-section {
  padding: 50px 0 30px; }

.form-box {
  margin: 3rem 0;
  padding: 3rem 2rem 2rem;
  box-shadow: rgba(29, 29, 31, 0.12) 0px 10px 40px 0px; }

#example-text-input, #example-email-input, #exampleTextarea {
  margin: 0 0 2rem;
  padding: 1rem; }

#contact-form-section .form-control {
  border: solid 2px #699ACF;
  opacity: 0.65; }

.google-map {
  padding: 1rem 0;
  filter: grayscale(100%); }

#social-network {
  padding: 5rem 0; }

.img-schema {
  background: url("../../images/schéma-roi.png") center center no-repeat;
  background-size: contain; }

.img-schema-block {
  height: 400px; }

#offre-schema, #offre-schema ul li {
  color: #fff; }

#offre-schema .padding-view {
  padding: 0 6rem; }

#offre-schema-section {
  line-height: 2.5rem; }

#offre-schema ul {
  padding-left: 0; }

.c-space {
  height: 30px; }

#offre-navbar {
  background-color: #fff;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 0.9rem;
  box-shadow: rgba(29, 29, 31, 0.05) 0px -10px 20px 5px;
  transition: box-shadow 0.5s;
  font-weight: 700;
  border-bottom: solid 1px #EDEDED; }

#offre-navbar ul {
  list-style: none;
  margin: 0; }

@media (min-width: 915px) {
  #offre-navbar .nav-link, #offre-navbar .nav-item {
    display: inline; } }
@media (max-width: 915px) {
  #offre-navbar .nav-link, #offre-navbar .nav-item {
    display: block;
    text-align: center; } }
#offre-navbar.nav {
  padding: 1.5rem 0 1.4rem; }

#offre-navbar ul {
  padding: 0; }

#offre-navbar ul li {
  padding: 0 0.5rem; }

#offre-navbar ul li a {
  color: #2A4868;
  box-sizing: border-box; }

#offre-navbar ul li.active a {
  color: #A9C0D9;
  box-sizing: border-box; }

#offre-tabs .container {
  padding: 0 2rem; }

.tab-content {
  width: 100%; }

#offre-tabs h4 {
  color: #699ACF;
  text-transform: uppercase; }

.dual-row h4 {
  padding: 2.5rem 0 2rem; }

#offre-tabs ul {
  list-style: none;
  padding: 0; }

#offre-tabs ul li {
  text-transform: uppercase;
  font-weight: bold; }

@media (min-width: 768px) {
  #offre-tabs ul li {
    height: 5rem; } }
@media (max-width: 768px) {
  #offre-tabs ul li {
    height: 8rem; } }
.offre-circle {
  background: #fff;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: 3px solid #8EE1D8;
  margin: auto;
  display: block;
  margin-top: 3rem; }

.offre-circle-container {
  background: linear-gradient(to top, #8EE1D8, #8EE1D8) repeat-y center;
  background-size: 4px 4px;
  margin-top: 6.5rem; }

#offre-tabs span {
  padding: 0 0 0 0.4rem;
  letter-spacing: 2px;
  color: #5C7999; }

#offre-tabs span:after {
  content: '';
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #8EE1D8;
  position: relative;
  display: inline-block;
  margin: 0 0 2px 0.40rem; }

#offre-tabs span:last-child:after {
  content: none; }

.outils-box {
  border: solid 3px #699ACF;
  margin: 0 0 4rem;
  padding: 0 0 1rem; }

.outils-box h4 {
  background-color: #fff;
  margin: -1rem auto 0;
  width: 50%; }

#realisations-section {
  padding: 50px 0 75px; }

#realisations-section .btn {
  margin: 1rem 0; }

.realisation-project {
  padding: 50px 0; }

#vision-cover-section {
  padding: 50px 0;
  color: #fff; }

#vision-savoir {
  color: #fff; }

#vision-cover-section p {
  color: #fff; }

.block-info {
  height: 300px; }

.block-info p {
  color: #fff;
  margin: 0;
  bottom: 0;
  background-color: rgba(31, 41, 65, 0.75);
  padding: 10px 20px;
  width: 100%; }

#vision-savoir-section .col-md-4 {
  padding: 0; }

.block-img-1 {
  background: url("../../images/phone.png") center center no-repeat;
  background-size: contain; }

.block-img-2 {
  background: url("../../images/money.png") center center no-repeat;
  background-size: contain; }

.block-img-3 {
  background: url("../../images/v-model.png") center center no-repeat;
  background-size: contain; }

.block-number {
  font-size: 2.5rem;
  font-weight: 700; }

#vision-gafa-section .row {
  padding: 50px 0; }

#vision-gafa h4 {
  text-transform: uppercase;
  line-height: 2.5rem; }

#vision-view .padding-view {
  padding: 0 6rem; }

#vision-view {
  line-height: 2.5rem; }

#vision-view ul {
  padding-left: 0; }

#vision-view ul li, #vision-view ul, #vision-view p {
  color: #fff; }

.view-img-1 {
  background: url("../../images/trash.png") center right no-repeat;
  background-size: cover;
  height: 500px; }

.view-img-2 {
  background: url("../../images/podium.png") center right no-repeat;
  background-size: cover;
  height: 500px; }

#team-photo {
  padding: 50px 0; }

.team-info {
  background-color: rgba(31, 41, 65, 0.75);
  text-align: center;
  color: #fff;
  width: 100%; }

.team-info span.citation {
  text-align: center;
  color: #fff;
  display: none;
  padding: 1rem; }

.member-name {
  text-transform: uppercase;
  font-weight: 700;
  line-height: 2rem; }

.team-img-1 {
  background: #699ACF url("../../images/matthieu-sprite.png") center left no-repeat;
  background-size: cover; }

.team-img-2 {
  background: #EC7484 url("../../images/benoit-sprite.png") center left no-repeat;
  background-size: cover; }

.global-img-1 {
  background: url("../../images/team.png") center top no-repeat;
  background-size: cover; }

.team-img-3 {
  background: #2A4868 url("../../images/clement-sprite.png") center left no-repeat;
  background-size: cover; }

.team-img-4 {
  background: #EC7484 url("../../images/pierre-sprite.png") center left no-repeat;
  background-size: cover; }

.global-img-2 {
  background: url("../../images/cactus.png") center center no-repeat;
  background-size: cover; }

.team-img-5 {
  background: #8EE1D8 url("../../images/guy-sprite.png") center left no-repeat;
  background-size: cover; }

.team-img-6 {
  background: #8EE1D8 url("../../images/laura-sprite.png") center left no-repeat;
  background-size: cover; }

.team-img-7 {
  background: #2A4868 url("../../images/oussama-sprite.png") center left no-repeat;
  background-size: cover; }

.global-img-3 {
  background: url("../../images/team-socks.png") center center no-repeat;
  background-size: cover; }

.global-img-4 {
  background: url("../../images/oncle-sam.png") center center no-repeat;
  background-size: cover; }

.team-img-8 {
  background: #EC7484 url("../../images/martin-sprite.png") center left no-repeat;
  background-size: cover; }

.team-img-9 {
  background: #2A4868 url("../../images/simon-sprite.png") center left no-repeat;
  background-size: cover; }

.global-img-5 {
  background: url("../../images/carnet.png") center center no-repeat;
  background-size: cover; }

@media (min-width: 768px) {
  div[class*=team-img] {
    width: 200px;
    height: 200px; }

  .global-img-1 {
    width: calc( 100% - 200px);
    height: 400px; }

  .global-img-2 {
    width: calc( 100% - 200px);
    height: 200px; }

  .global-img-3 {
    width: calc( 100% - 400px);
    height: 200px; }

  .global-img-4 {
    width: calc( 100% - 400px);
    height: 400px; }

  .global-img-5 {
    width: 400px;
    height: 200px;
    margin-left: calc( 100% - 400px);
    margin-top: -200px; }

  .team-img-2 {
    margin-top: -200px; }

  .team-img-4 {
    margin-top: -200px;
    margin-left: calc(100% - 200px); }

  .team-img-5 {
    margin-top: -200px;
    margin-left: calc(100% - 200px); }

  .team-img-1:hover {
    background: url("../../images/matthieu-sprite.png") center right no-repeat;
    background-size: cover; }

  .team-img-2:hover {
    background: url("../../images/benoit-sprite.png") center right no-repeat;
    background-size: cover; }

  .team-img-3:hover {
    background: url("../../images/clement-sprite.png") center right no-repeat;
    background-size: cover; }

  .team-img-4:hover {
    background: url("../../images/pierre-sprite.png") center right no-repeat;
    background-size: cover; }

  .team-img-5:hover {
    background: url("../../images/guy-sprite.png") center right no-repeat;
    background-size: cover; }

  .team-img-6:hover {
    background: url("../../images/laura-sprite.png") center right no-repeat;
    background-size: cover; }

  .team-img-7:hover {
    background: url("../../images/oussama-sprite.png") center right no-repeat;
    background-size: cover; }

  .team-img-8:hover {
    background: url("../../images/martin-sprite.png") center right no-repeat;
    background-size: cover; }

  .team-img-9:hover {
    background: url("../../images/simon-sprite.png") center right no-repeat;
    background-size: cover; }

  div[class*=team-img]:hover .team-info .member-name, div[class*=team-img]:hover .team-info .member-job {
    display: none; }

  div[class*=team-img]:hover .team-info .citation {
    display: block;
    margin: auto; }

  div[class*=team-img]:hover .team-info {
    height: 200px; }

  .team-recrute {
    width: calc(100% - 200px);
    height: 400px; } }
@media (max-width: 768px) {
  div[class*=team-img] {
    width: 50%;
    padding-top: calc(50% - 3rem);
    margin-left: 25%;
    margin-bottom: 30px; }

  .team-recrute {
    text-align: center; }

  .team-recrute .btn {
    margin-bottom: 3rem; } }
.team-recrute p {
  line-height: 2rem; }

.team-recrute h3 {
  text-transform: uppercase; }

.team-recrute p, .team-recrute h3 {
  padding: 1rem 3rem; }

.team-recrute .btn {
  margin-left: 3rem;
  margin-right: 3rem; }

.infogreffe-img-1 {
  background: url("../../images/oncle-sam.png") center center no-repeat;
  background-size: cover;
  width: 50%;
  height: 400px; }

.infogreffe-img-2 {
  background: url("../../images/oncle-sam.png") center center no-repeat;
  background-size: cover;
  width: 50%;
  height: 200px; }

.infogreffe-img-3 {
  background: url("../../images/oncle-sam.png") center center no-repeat;
  background-size: cover;
  width: 50%;
  height: 200px;
  margin-left: 50%;
  margin-top: -200px; }

.infogreffe-img-4 {
  background: url("../../images/oncle-sam.png") center center no-repeat;
  background-size: cover;
  width: 33.333%;
  height: 300px; }

.infogreffe-img-5 {
  background: url("../../images/oncle-sam.png") center center no-repeat;
  background-size: cover;
  width: 33.333%;
  height: 300px; }

.infogreffe-img-6 {
  background: url("../../images/oncle-sam.png") center center no-repeat;
  background-size: cover;
  width: 33.333%;
  height: 300px; }

.infogreffe-img-7 {
  background: url("../../images/oncle-sam.png") center center no-repeat;
  background-size: cover;
  width: 100%;
  height: 200px; }

#infogreffe {
  padding: 50px 0; }

.vertical-line {
  content: '';
  display: block;
  width: 200px;
  height: 2px;
  background-color: #2F353A;
  margin: 3rem auto; }

.space-row {
  margin: 4rem 0 1rem; }

/*# sourceMappingURL=app.css.map */
