
#team-photo {
    padding: 50px 0;
}

//Team Info

.team-info  {
    background-color: $c-p-dark-t;
    text-align: center;
    color: #fff;
    width: 100%;
}

.team-info span.citation {
    text-align: center;
    color: #fff;
    display: none;
}

.member-name {
    text-transform: uppercase;
    font-weight: 700;
    line-height: 2rem;
}

// Image 1 

.team-img-1 {
    background: $c-p url('../../images/matthieu-sprite.png') center left no-repeat;
    background-size: cover;
}

// Image 2

.team-img-2 {
    background: $c-t url('../../images/benoit-sprite.png') center left no-repeat;
    background-size: cover;
}

// Image 3

.global-img-1 {
    background: url('../../images/team.png') center bottom no-repeat;
    background-size: cover;
}

// Image 4

.team-img-3 {
    background: $c-p-dark url('../../images/clement-sprite.png') center left no-repeat;
    background-size: cover;
}

// Image 5

.team-img-4 {
    background: $c-t url('../../images/pierre-sprite.png') center left no-repeat;
    background-size: cover;
}

// Image 6

.global-img-2 {
    background: url('../../images/love.png') center center no-repeat;
    background-size: cover;
}

// Image 7

.team-img-5 {
    background: $c-s url('../../images/guy-sprite.png') center left no-repeat;
    background-size: cover;
}

// Image 8

.team-img-6 {
    background: $c-s url('../../images/laura-sprite.png') center left no-repeat;
    background-size: cover;
}

// Image 9

.team-img-7 {
    background: $c-p-dark url('../../images/oussama-sprite.png') center left no-repeat;
    background-size: cover;
}

// Image 10

.global-img-3 {
    background: url('../../images/team-socks.png') center center no-repeat;
    background-size: cover;
}

// Image 11

.global-img-4 {
    background: url('../../images/oncle-sam.png') center center no-repeat;
    background-size: cover;
}

// Image 12

.team-img-8 {
    background: $c-t url('../../images/martin-sprite.png') center left no-repeat;
    background-size: cover;
}

// Image 13

.team-img-9 {
    background: $c-p-dark url('../../images/simon-sprite.png') center left no-repeat;
    background-size: cover;
}

// Image 14

.global-img-5 {
    background: url('../../images/carnet.png') center center no-repeat;
    background-size: cover;
}




@media ( min-width: 768px ) {
 div[class*=team-img]  {
    width: 200px;
    height: 200px;
}

.global-img-1  {
    width: calc( 100% - 200px);
    height: 400px;
}

.global-img-2  {
    width: calc( 100% - 200px);
    height: 200px;
}

.global-img-3  {
    width: calc( 100% - 400px);
    height: 200px;
}

.global-img-4  {
    width: calc( 100% - 400px);
    height: 400px;
}

.global-img-5  {
    width: 400px;
    height: 200px;
    margin-left: calc( 100% - 400px);
    margin-top: -200px;
}

// Images setup
.team-img-2 {
    margin-top: -200px;
}

.team-img-4 {
    margin-top: -200px;
    margin-left: calc(100% - 200px);
}

.team-img-5 {
    margin-top: -200px;
    margin-left: calc(100% - 200px);
}

// Image 1 hover
.team-img-1:hover {
    background: url('../../images/matthieu-sprite.png') center right no-repeat;
    background-size: cover;
}

// Image 2 hover
.team-img-2:hover {
    background: url('../../images/benoit-sprite.png') center right no-repeat;
    background-size: cover;
}

// Image 3 hover
.team-img-3:hover {
    background: url('../../images/clement-sprite.png') center right no-repeat;
    background-size: cover;
}

// Image 4 hover
.team-img-4:hover {
    background: url('../../images/pierre-sprite.png') center right no-repeat;
    background-size: cover;
}

// Image 5 hover
.team-img-5:hover {
    background: url('../../images/guy-sprite.png') center right no-repeat;
    background-size: cover;
}

// Image 6 hover
.team-img-6:hover {
    background: url('../../images/laura-sprite.png') center right no-repeat;
    background-size: cover;
}

// Image 7 hover
.team-img-7:hover {
    background: url('../../images/oussama-sprite.png') center right no-repeat;
    background-size: cover;
}

// Image 8 hover
.team-img-8:hover {
    background: url('../../images/martin-sprite.png') center right no-repeat;
    background-size: cover;
}

// Image 9 hover
.team-img-9:hover {
    background: url('../../images/simon-sprite.png') center right no-repeat;
    background-size: cover;
}

// General modifs
 div[class*=team-img]:hover .team-info .member-name,  div[class*=team-img]:hover .team-info .member-job {
    display: none;
}

 div[class*=team-img]:hover .team-info .citation {
   display: block;
   margin: auto;
}

 div[class*=team-img]:hover .team-info {
     height: 200px;
}

.team-recrute {
    width: calc(100% - 200px);
    height: 400px;
}
}

@media ( max-width: 768px ) {
 div[class*=team-img] {
    width: 50%;
    padding-top: calc(50% - 3rem);
    margin-left: 25%;
    margin-bottom: 30px;
}
.team-recrute {
    text-align: center;
}
.team-recrute .btn {
     margin-bottom: 3rem;
 }
}

.team-recrute p {
    line-height: 2rem;    
}
.team-recrute h3 {
    text-transform: uppercase;
}

.team-recrute p, .team-recrute h3 {
    padding: 1rem 3rem;
}

.team-recrute .btn {
     margin-left: 3rem;
     margin-right: 3rem;
 }