#vision-cover-section {
    padding: 50px 0;
    color: #fff;
}

#vision-savoir {
    color: #fff;
}
#vision-cover-section p{
    color: #fff;
}

.block-info {
    height: 300px;
}

.block-info p {
    color: #fff;
    margin: 0;
    bottom: 0;
    background-color: rgba(31, 41, 65, 0.75);
    padding: 10px 20px;
    width: 100%;
}

#vision-savoir-section .col-md-4 {
padding: 0;
}

.block-img-1 {
    background: url('../../images/phone.png') center center no-repeat;
    background-size: contain;
}

.block-img-2 {
    background: url('../../images/money.png') center center no-repeat;
    background-size: contain;
}

.block-img-3 {
    background: url('../../images/v-model.png') center center no-repeat;
    background-size: contain;
}

.block-number {
    font-size: 2.5rem;
    font-weight: 700;
}
#vision-gafa-section .row {
    padding: 50px 0;
}

#vision-gafa h4 {
    text-transform: uppercase;
    line-height: 2.5rem; 
}

#vision-view .padding-view {
    padding: 0 6rem;
}

#vision-view {
    line-height: 2.5rem;
}

#vision-view ul li, #vision-view ul, #vision-view p {
    color: #fff;
}

.view-img-1 {
    background: url('../../images/imaginer.jpg') center right no-repeat;
    background-size: cover;
    height: 500px;
}

.view-img-2 {
    background: url('../../images/imaginer2.jpg') center right no-repeat;
    background-size: cover;
    height: 500px;
}